<section class="block block--dark">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading hero__heading">Beginners aan de Zijlijn</h1>
    </header>
    <img src="images/Header.jpg" alt="" class="hero__image" />
  </div>
</section>

<!--  of deze (is zonder grid)  -->

<section class="block block--dark">
  <div class="">
    <header class="block__header hero__content">
      <h1 class="block__heading hero__heading">Beginners aan de Zijlijn</h1>
    </header>
    <img src="images/Header.jpg" alt="" class="hero__image" />
  </div>
</section>
